/*公共部分*/
*{
    margin:0 auto;
    padding:0;
    outline: none;
    list-style: none;
    font-family:'KaiTi_GB2312',serif;
    color:#333333;
    font-size: 16px;
    text-decoration: none;
}
body{
    background-color:#FDFFCF;
    cursor: pointer;
}
